name: Deploy to Production

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/wordle-app

            cp .env .env.backup
            
            git pull origin main

            mv .env.backup .env
            
            composer install --no-dev --optimize-autoloader --no-interaction
            
            composer dump-env prod
            
            php bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration
            
            rm -rf var/cache/*
            
            php bin/console cache:warmup --env=prod
            
            sudo chown -R $USER:www-data var/
            sudo chmod -R 775 var/
